@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');

body, html,.App {
  margin: 0; 
  padding: 0;
  background:#363636;
  color:#fff;
}
a, p, h1, h2, h3, h4, h5, div, button{
  color:#fff;
  font-family: 'Montserrat','Jua', sans-serif;
}

ul, li{
  list-style: none;
  box-sizing: border-box;
}

hr{
  background: #eee;
}

.btn{
  padding: 16px 48px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(136,204,164,1) 0%, rgba(9,181,225,1) 100%);
  border:none;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
.btn-search{
  background:#13AA52;
  border:none;
  cursor: pointer;
  box-sizing: border-box;
  width: 60px;
  padding: 1rem;
}
input{
  border:none;
  outline:none;
  width: 60vw;
  max-width:360px;
  padding: 1rem;
}
input:focus{
  outline:none;
  border:none;
}

button:focus{
  border:none;
  outline:none;
}
.center{
  margin:3vh 0;
  display: flex;
  align-items:center;
  justify-content:center
}

.__main{
  width: 100%;
}
.overflow{
  width: 100%;
  overflow: hidden;
}
.__main-tit{
  position: absolute;
  z-index: 5000;
  top:400px;
  padding: 0 7vw;
}

.__img{
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* .__main img{
  display:block;
  width:1920px;
  height:auto;
  box-sizing: border-box;
} */

.grid-section .grid-list li{
  width:50%;
  float:left;
  /* border: 1px solid white; */
  box-sizing: border-box;
}

.grid-list{
  padding: 0 6vw;
  width: 100%;
}
.clfix:after {
  content: "";
  display: block;
  clear: both;
}
.grid-img-size{
  border-radius: 1rem;
  width: 100%;
}
.__img:after{
  content: '';
  width: 100%;
  position: absolute;
  z-index: 10;
  background:linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(54,54,54,0) 50%);
}

.search-icon{
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom:0;
  right:0;
  z-index: 5010;
  margin: 3vw;
  background: #13AA52;
  border-radius:50%;
  display: flex;
  align-items:center;
  justify-content:center
}
.search-icon a img{
  width: 50px;
}

/* mobile Only */
@media all and (max-width:767px){
  .search-icon{
    width: 60px;
    height: 60px;
    margin: 5vw;
  }
  .search-icon a img{
    width: 30px;
  }

  .grid-list li{
    padding: 0.5rem;
  }
  .grid-img-size{
    height: 30vh;
  }
  .__main, .overflow{
    height: 300px;
    position: relative;
  }
  .__img:after{
    height: 300px;
  }
  .hide{
    display: none;
  }
  .__main-tit{
    top:250px;
  }
}

/* tablet & PC */
@media all and (min-width:768px){
  .grid-img-size{
    height: 60vh;
  }

  .grid-section .grid-list li{
    width:50%;
  }  

  .grid-list li{
    padding: 1rem;
  }
    
  .overflow{
    height: 500px;
  }
  .__img:after{
    height: 500px;
  }
  .mt{
    margin-top: 5rem;
  }
}

/* PC Only */
@media all and (min-width:1280px){
  .grid-section .grid-list li{
    width:25%;
    }   
}